.addQuote-container {
  width: 50%;
  height: 100%;
  background-color: #3e4069;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #f0ffff;
  font-family: 'Ubuntu', sans-serif;
}

.input-quote {
  width: 350px;
  border-radius: 5px;
  margin-top: 10px;
}

.textarea-quote {
  width: 350px;
  height: 200px;
  border-radius: 5px;
  margin-top: 10px;
}

label {
  margin-bottom: 20px;
}

.ul-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.postQuoteButton {
  margin-top: 10px;
  width: 200px;
  height: 50px;
  background-color: #f1f0f8;
  border-radius: 5px;
  color: #3e4069;
  font-weight: bold;
  font-size: medium;
  box-shadow: 0 32px 32px -8px rgba(0, 0, 0, 0.4);
}

.postQuoteButton:hover {
  background-color: rgb(155, 155, 155);
}
.postQuoteContent {
  text-align: center;
  margin-top: 10px;
}

@media screen and (max-width: 768px) {
  .addQuote-container {
    width: 100%;
  }

  .postQuoteButton {
    margin-bottom: 20px;
  }
  .input-quote {
    width: 80vw;
  }
  .textarea-quote {
    width: 80vw;
    height: 20vh;
  }
}

@media screen and (max-width: 575px) {
  .addQuote-container h2 {
    font-size: large;
  }
}
