@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

.quizz-quote {
  margin-bottom: 20px 0px;
  padding: 15px;
  width: 75vw;
  height: 40vh;
  border: 1px solid black;
  border-radius: 20px;
  background: #3e4069;
  color: #f0ffff;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  font-weight: bolder;
  font-size: large;
  text-transform: uppercase;
  line-height: 25px;
  box-shadow: 0 32px 32px -8px rgba(0, 0, 0, 0.4);
}

.container-button {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 95%;
  height: 160px;
}

.counter {
  margin-top: 0;
  padding: 0;
  display: flex;
  justify-content: space-evenly;
}
.quizz-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80vw;
  font-family: 'Ubuntu', sans-serif;
}

.quizz-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.quizz-quote-container {
  color: #3e4069;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.counter-span {
  text-transform: uppercase;
  font-weight: 900;
  color: #3e4069;
}

.counter-span-1 {
  text-transform: uppercase;
  font-weight: 900;
  color: #3e4069;
}

.answer-button {
  background-color: #3e4069;
  color: #f0ffff;
  border-radius: 10px;
  height: 70px;
  width: 48%;
  font-weight: 700;
  margin: 5px;
  font-size: 14px;
}

.answer-button:hover {
  opacity: 0.8;
}

.play-button {
  width: 30%;
  margin-bottom: 120px;
  border-radius: 10px;
}

@media only screen and (max-width: 768px) {
  .answer-button {
    width: 47%;
  }

  .counter-span-1 {
    display: none;
  }

  .quizz-quote {
    height: 30vh;
    font-size: 15px;
  }
}
@media only screen and (max-width: 575px) {
  .answer-button {
    width: 100%;
    height: 40px;
  }

  .quizz-quote {
    height: 25vh;
  }
}
